/*.WB4
/*.WB64
/*.preview10
/*.*~
# This is the entire base theme except for files we have to modify:
/Button.colours
/CommonPlaces.font
/Default_ani.NWA
/DragDrop.font
/Jump_list_frame.TGA
/Modern.WBO7
/Modern.colours
/Modern.uis
/Modern.uis.tmp
/Modern.uis~_AeroWizard.colours
/Modern.uis~_ControlPanel.colours
/Modern.uis~_Flyout.colours
/Modern.uis~_MonthCal.colours
/Modern.uis~_TaskDialog.colours
/Modern.uis~_TaskManager.colours
/Modern.xp
/Modern.xps
/SKSPreview.png
/additional_image_11.bmp
/additional_image_14.bmp
/additional_image_17.bmp
/additional_image_20.bmp
/address_bar.TGA
/address_bar_green.TGA
/address_bar_red.TGA
/aero_wizard_arrow_back.tga
/aero_wizard_arrow_down.tga
/aero_wizard_arrow_down_glyph.TGA
/aero_wizard_arrow_next.tga
/alt_tab_but.tga
/but_close.tga
/but_close_basic.tga
/but_close_single.TGA
/but_max.tga
/but_max_basic.tga
/but_min.tga
/but_min_basic.tga
/but_rest.tga
/but_rest_basic.tga
/c_panel_sidebar.bmp
/c_panel_sidebar_L1.tga
/checkbox.TGA
/combo_box_board.BMP
/combo_box_but.tga
/combo_box_but_glyph.tga
/combo_box_but_read.TGA
/command_bar.bmp
/command_bar_but.tga
/command_bar_win8.BMP
/drag_drop_back.tga
/drag_drop_count_back.tga
/drag_drop_icons.tga
/explorer_background.BMP
/explorer_info_bar.BMP
/explorer_info_pane_L1.tga
/explorer_list_selection.tga
/explorer_popup_drop_down_item.TGA
/explorer_popup_item.TGA
/explorer_popup_menu.BMP
/explorer_selection.TGA
/explorer_separator_horiz.bmp
/explorer_separator_vert.bmp
/explorer_sorted_active.bmp
/explorer_sorted_inactive.bmp
/frame_bottom.tga
/frame_bottom_basic.bmp
/frame_left.tga
/frame_left_basic.TGA
/frame_right.tga
/frame_right_basic.bmp
/frame_top.tga
/frame_top_basic.bmp
/frame_top_max.tga
/frames_no_caption.bmp
/glass_area_top.BMP
/group_box_border.bmp
/group_box_header.bmp
/header_bar.BMP
/header_bar_drop.BMP
/header_bar_drop_glyphs.TGA
/header_bar_file_dialog.BMP
/jump_list_bottom.BMP
/jump_list_top.BMP
/list_view_vert_line.bmp
/mdi_buttons.BMP
/menubar_notepad.BMP
/menubar_notepad_button.TGA
/min_window_but_close.tga
/min_window_but_close_glyph.TGA
/min_window_but_help.tga
/min_window_but_help_glyph.TGA
/min_window_but_max.tga
/min_window_but_max_glyph.TGA
/min_window_but_min.tga
/min_window_but_min_glyph.TGA
/min_window_but_rest.tga
/min_window_but_rest_glyph.TGA
/min_window_caption.bmp
/more_progs_menu_new_item.tga
/navigation_arrow_back.tga
/navigation_arrow_back_ie.tga
/navigation_arrow_disabled.TGA
/navigation_arrow_hover.tga
/navigation_arrow_normal.tga
/navigation_arrow_pressed.tga
/navigation_icons.tga
/places_background.BMP
/places_button.TGA
/please_wait_transparent.BMP
/please_wait_transparent.TGA
/popup_menu.TGA
/popup_menu_favorites.BMP
/popup_menu_icons.tga
/popup_menu_item.tga
/popup_menu_item_L1.tga
/popup_menu_item_bottom.TGA
/popup_menu_item_favorites.BMP
/popup_menu_item_top.TGA
/progress_bar.BMP
/progress_bar_block_L1.tga
/progress_bar_block_red_L1.tga
/progress_bar_block_texture_vert.tga
/progress_bar_block_yellow_L1.tga
/progress_bar_blue.BMP
/progress_bar_boarder_L1.TGA
/progress_bar_boarder_v_L1.TGA
/progress_bar_border.BMP
/progress_bar_border_vert.BMP
/progress_bar_flash.tga
/progress_bar_flash_L1.TGA
/progress_bar_flash_vert.tga
/progress_bar_red.BMP
/progress_bar_vert.BMP
/progress_bar_yellow.BMP
/push_but.TGA
/q_launch_but.tga
/radio_but.tga
/reimport.lst
/scrollbar_arrow.BMP
/scrollbar_arrow_glyph.TGA
/scrollbar_horiz.BMP
/scrollbar_horiz_small.BMP
/scrollbar_horiz_texture.tga
/scrollbar_track_horiz.BMP
/scrollbar_track_vert.BMP
/scrollbar_vert.BMP
/scrollbar_vert_small.BMP
/search_box.tga
/search_icons.tga
/segoeui.ttf
/segoeuib.ttf
/shadow_bottom.TGA
/shadow_left.TGA
/shadow_right.TGA
/shadow_top.TGA
/sp_all_programs.TGA
/sp_all_programs_arrow.TGA
/sp_all_programs_menu.BMP
/sp_all_programs_menu_item.TGA
/sp_all_programs_new.TGA
/sp_all_programs_selection.TGA
/sp_bottom.TGA
/sp_buttons_arrow.tga
/sp_buttons_arrow_glyphs.tga
/sp_buttons_hover.tga
/sp_buttons_normal.tga
/sp_buttons_pressed.tga
/sp_left.tga
/sp_left_selection.TGA
/sp_menu_item_right_L1.tga
/sp_right.tga
/sp_right_selection.TGA
/sp_search_bottom.TGA
/sp_search_top.TGA
/sp_separator_left.TGA
/sp_separator_right.TGA
/sp_shut_down_button_left.TGA
/sp_shut_down_button_right.TGA
/sp_shut_down_button_right_glyph.TGA
/sp_top.tga
/sp_user_picture_frame.TGA
/spim_button.BMP
/spim_glyph_horiz.TGA
/spim_glyph_vert.TGA
/start_button.TGA
/status_bar.BMP
/status_bar_grip.bmp
/statusbar_sections.bmp
/tab.TGA
/tab_border.BMP
/tab_panel.BMP
/task_dialog_but.tga
/task_dialog_but_arrows.tga
/task_dialog_expand_but.tga
/task_preview_close.tga
/task_preview_item.tga
/task_preview_pane.tga
/task_preview_pane_L1.tga
/taskbar.BMP
/taskbar.TGA
/taskbar_but_desktop.tga
/taskbar_but_desktop_vert.tga
/taskbar_but_flash.TGA
/taskbar_but_pinned.tga
/taskbar_but_progress.TGA
/taskbar_button.TGA
/taskbar_button_mask.TGA
/taskbar_buttons_L1.tga
/taskbar_gripper.TGA
/taskbar_gripper_vert.tga
/taskbar_group_item.bmp
/taskbar_group_menu.BMP
/taskbar_horiz_L1.tga
/taskbar_horiz_L2.TGA
/taskbar_horiz_L3.TGA
/taskbar_horiz_L4.TGA
/taskbar_horiz_resizer.tga
/taskbar_jump_list_top_L1.tga
/taskbar_vert.BMP
/taskbar_vert_L1.tga
/taskbar_vert_resizer.tga
/tool_window_botton_perpixel.BMP
/tool_window_but.tga
/tool_window_but_glyph.tga
/tool_window_sides_perpixel.BMP
/tool_window_top_perpixel.BMP
/toolbar.BMP
/toolbar_button.TGA
/toolbar_button_notepad.TGA
/toolbar_button_split_left.TGA
/toolbar_button_split_right.TGA
/toolbar_buttons_split_glyph.tga
/toolbar_gripper.tga
/toolbar_separator_horiz.bmp
/toolbar_separator_vert.TGA
/toolbar_separator_vert.bmp
/tooltip_arrows.bmp
/tooltip_back.bmp
/tooltip_but_close.tga
/tooltip_but_settings.tga
/track_bar_horiz.bmp
/track_bar_vert.bmp
/track_but_down.tga
/track_but_horiz.tga
/track_but_left.tga
/track_but_right.tga
/track_but_up.tga
/track_but_vert.tga
/tray_expander.TGA
/tray_expander_ver.TGA
/tray_horiz.tga
/tray_vert.tga
/tree_view_glyph.tga
/web_menu_background.BMP
/web_menu_client.BMP
/web_menu_gutter.BMP
/web_menu_item.TGA
